<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <form action="#" th:action="@{'/user'}" method="get">
        <div>
        <select name="id">
            <option value="" disabled selected>Select your option</option>
            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">Users</option>
        </select>
        </div>
        <input type="submit" value="Continuar" name="findUser"/>
    </form>
</body>
</html>